{{#extend "default" bodyClass="center"}}
    {{#content "content"}}
    <form>
        <h1>Вход</h1>
        <input type="text" placeholder="Логин" />
        <input type="password" placeholder="Пароль" />
        <a class='button-solid' onclick="alert('ЩА ВСЁ БУДЕТ!')">Авторизоваться</a>
        <a href='/pages/register/'>Нет аккаунта?</a>
    </form>
    {{/content}}
{{/extend}}
