{{#extend "default" bodyClass="center"}}
    {{#content "content"}}
    <form>
        <h1>Вход</h1>
        {{> Input type="text" title="Логин"}}
        {{> Input type="password" title="Пароль" name="password"}}
        <a class='button-solid' onclick="alert('ЩА ВСЁ БУДЕТ!')" href="/pages/chats">Авторизоваться</a>
        <a href='/pages/register/'>Нет аккаунта?</a>
    </form>
    {{/content}}
{{/extend}}
