{{#extend "default" bodyClass="center"}}
    {{#content "content"}}
    <form>
        <h1>Регистрация</h1>
        {{> Input title="Почта" type="email" pattern=".+@globex\.com" name="email"}}
        {{> Input title="Логин" type="text"}}
        {{> Input title="Имя" type="text" name="fname"}}
        {{> Input title="Фамилия" type="text" name="lname"}}
        {{> Input title="Телефон" type="tel" name="phone" pattern="\+7\s?[\(]{0,1}9[0-9]{2}[\)]{0,1}\s?\d{3}[-]{0,1}\d{2}[-]{0,1}\d{2}"}}
        {{> Input title="Пароль" name="password" type="password"}}
        {{> Input title="Пароль (ещё раз)" name="passwordConf" type="password"}}
        <a class='button-solid' onclick="alert('ОП, НЕ ВСЁ ТАК СРАЗУ!')" href="/pages/chats">Зарегистрироваться</a>
        <a href='/pages/login'>Войти</a>
    </form>
    {{/content}}
{{/extend}}
