{{#extend "default"}}
 
    {{#content "title"}}Profile{{/content}}
 
    {{#content "content"}}
        {{#extend "Form"}}
            {{#content "title"}}Войти в IT{{/content}}
            {{#content "inputs"}}
                {{> Button text="foo"}}
                {{> Button text="foo"}}
                {{> Button text="foo"}}
            {{/content}}
            {{#content "buttons"}}
                {{> Button text="foo"}}
                {{> Button text="foo"}}
            {{/content}}
        {{/extend}}
        <p>Dolor sit amet.</p>
    {{/content}}
 
{{/extend}}