body {
    display: block!important;

    .profile-wrapper {
        .profile-content {    
            .change-buttons {
                justify-content: center;

                a {
                    padding: 1vw 5vw;
                }
            }
        }
    }
}
