{{#extend "default"}}
    {{#content "content"}}
        {{#extend "profileBase"}}
                {{#content "items"}}
                    <div class="info-item">
                        <label>Почта</label>
                        <input name="email" placeholder="pochta@yandex.ru" name="email"></input>
                    </div>
                    <div class="info-item">
                        <label>Логин</label>
                        <input placeholder="ivanivanov" name="login"></input>
                    </div>
                    <div class="info-item">
                        <label>Имя</label>
                        <input placeholder="Иван" name="first_name"></input>
                    </div>
                    <div class="info-item">
                        <label>Фамилия</label>
                        <input placeholder="Иванов" name="second_name"></input>
                    </div>
                    <div class="info-item">
                        <label>Имя в чате</label>
                        <input placeholder="Godzira" name="display_name"></input>
                    </div>
                    <div class="info-item">
                        <label>Телефон</label>
                        <input placeholder="+7 (909) 967 30 30" name="phone"></input>
                    </div>
                {{/content}}
                {{#content "buttons"}}
                    <a class="change-data" href="/pages/profile">Сохранить</a>
                {{/content}}
            </div>
        {{/extend}}
    {{/content}}
{{/extend}}