<form>
    <h1>{{#block "title"}}{{/block}}</h1>
    <div class="inputs">
        {{#block "inputs"}}{{/block}}
    </div>
    <div class="buttons">
        {{#block "buttons"}}{{/block}}
    </div>
</form>
