<div class="blob-wrapper {{class}}">
    <div class="blob">
        <p>{{text}}</p>
        <div class="message-info">
            <div class="viewed"></div>
            <span>{{time}}</span>
        </div>
    </div>
</div>