{{#extend "default" bodyClass="center"}}
    {{#content "content"}}
        <h1>404</h1>
        <h2>Упс! Вы зашли куда-то не туда.</h2>
        <a class="button-solid" href="/pages/chats">Вернуться</a>
    {{/content}}
{{/extend}}
