@import '../components/Button.scss';
// @import '../components/Form.scss';
@import '../components/ChatItem.scss';

html {
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

    --form-padding:3.5vw;
    --form-font-size:1.5vw;
    
    --light-black:rgb(53, 53, 53);

    body {

        color:var(--light-black);
        margin: 0;

        &.center {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    
        form {
            display: flex;
            flex-direction: column;
            padding: var(--form-padding);
            justify-content: center;
            align-items: center;
            box-shadow: 0vw 0vw 2.1vw 0.2vw rgba(0, 0, 0, 0.089);
            border-radius: 1vw;
            background-color: rgba(255, 255, 255, 0.801);
    
            h1 {
                margin: 0;
                margin-bottom:3vw;
                font-size: 3vw;
            }

            .input-wrapper {
                width: 100%;
                position: relative;
                margin-bottom: 0.5em;

                input {
                    outline: none;
                    border:none;
                    border-bottom: 1px solid grey;
                    margin-bottom: 1em;
                    font-family: 'Ubuntu';
                    font-size: var(--form-font-size);
                    width: 100%;
                    position: relative;
                    z-index: 2;
                    background-color: transparent;
                }

                label {
                    position: absolute;
                    left:0;
                    top:0;
                    font-size: 1.5vw;
                    z-index: 1;
                    color:grey;
                }

                input:not(:placeholder-shown) + label,
                input:focus + label {
                    font-size: 1vw;
                    top:-40%;
                    color:var(--light-black);
                }
                
            }
    
            
    
            a {
                cursor: pointer;
                font-family: 'Ubuntu';
                font-size: 1.2vw;
                border-radius: 0.6vw;
                border:none;
                background-color: transparent;
                padding: 1em 0em;
                width: 100%;
                display: block;
                text-align: center;
                text-decoration: none;
                color:var(--light-black);
            }

            .button-solid {
                margin-top: 4em;
                background-color: rgb(234, 255, 47);
                box-shadow: 0vw 0vw 1.1vw 0.2vw rgba(0, 0, 0, 0.089);
                font-size: var(--form-font-size);
            }       
        }
    }
}




