<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../../layouts/default.scss" />
        <link rel="stylesheet" href="./index.scss" />
        <title>{{#block "title"}}{{/block}}</title>
    </head>
    <body class="{{bodyClass}}">
        {{#block "content"}}{{/block}}
    </body>
</html>