<div class="profile-wrapper">
    <a class="back" href="/pages/chats"></a>
    <div class="profile-content">
        <a class="avatar" href="/pages/profile-download"></a>
        {{#block "name"}}{{/block}}
        <div class="info">
            {{#block "items"}}{{/block}}
        </div>
        <div class="change-buttons">
            {{#block "buttons"}}{{/block}}
        </div>
    </div>
    {{#block "modal"}}{{/block}}
</div>
