<div class="profile-wrapper">
    <a class="back" href="/pages/chats"></a>
    <div class="profile-content">
        <div class="avatar"></div>
        {{#block "name"}}{{/block}}
        <div class="info">
            {{#block "items"}}{{/block}}
        </div>
        <div class="change-buttons">
            {{#block "buttons"}}{{/block}}
        </div>
    </div>
</div>
